<div class="userPartials">
  <label>Nome:{{this.nome}}</label>
  <label>Modelo:{{this.modelo}}</label>
  <label>Motor:{{this.motor}}</label>
  <label>Ano:{{this.ano}}</label>
  <label>Fabricante:{{this.fabricante}}</label>
  <label>Valor:{{this.valor}}</label>
  <label>Cor:{{this.cor}}</label>
  <label>Opcional:{{this.opcional}}</label>

</div>
